
#form{
    box-shadow: rgba(33, 33, 49, 0.3) 0px 2px 8px 0px;
    width: 25%;
    border: 1px solid transparent;
    margin: auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 7px;
    margin-top: 100px;
    background-color: rgb(252, 252, 221);
}
#form>input{
    width: 70%;
    height: 30px;
    border-radius: 7px;
}


#form>button{
  
    text-align: center;
    color: rgb(255, 255, 255);
    border-color:  rgb(223, 141, 103);
    background-color: rgb(223, 141, 103);
    font-size: 20px;
    font-weight: bold;
    width: 70%;
    height: 30px;
    border-radius: 7px;
    box-shadow: rgba(33, 33, 49, 0.3) 0px 2px 8px 0px;

}

#form>button:hover{
    color: rgb(14, 13, 13);
    background-color: rgb(140, 207, 228);
}
#signin{
    margin-bottom: 50px;
}
